*{
  margin: 0 0;
  background-color: black;
}

.square{
  border: 1px white;
}

.grid{
  margin-left: 30vw;
  /* margin-top: 5%; */
}

.btn{
  position: relative;
  bottom: 500px;
  display: inline;
}

button{
  margin: 1%;
}
